.meet-you{

    &__container{
        display: flex;
        align-items: center;
    }

}

.meet-your {
    padding-bottom: 90px;
}

.meet-your__img {
    margin-left: -30px;
}

.meet-your__heading{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.05em;
    color: #000000;
    padding-bottom: 30px;
}

.meet-your__top{
    padding: 54px;
}

.meet-your__desc{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #000000;
    opacity: 0.7;
    padding-bottom: 50px;
}

.meet-your__link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1C1B1E;
    padding: 10px 27px;
    border: 1px solid #1C1B1E;
    text-decoration: none;
    border-radius: 40px;
}
.meet-your__link:hover{
    opacity: 0.5;
}
.meet-your__link:active{
    opacity: 0.10;
}
