// bu yerda sitenav bor

.sitenav {
    display: flex;

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item + &__item {
        margin-left: 50px;
    }

    &__link {
        text-decoration: none;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        opacity: 0.8;
    }

    &__link:hover {
        opacity: 0.8;
    }

    &__link:active {
        opacity: 0.4;
    }
}